@model IndexViewModel
@{
    ViewData["Title"] = "home";
}
<!--About Section-->
<section id="about" class="about-section text-center">
    <div class="container">
        <div data-aos="fade-in" data-aos-duration="2000" class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">hello world.</h2>
                <p class="text-white-50">
                    My name is Kruce Blake and I have been a developer professionally since 2011. It is something that I am very passionate about and love to do. I am currently working mainly within the .Net Core framework. This site was built by me and is currently targetting <i>@(Model.CurrentFramework)</i>. If you would like to see more, please <a href="~/images/Blake, Kruce Resume.pdf">download my resume</a> or continue below to see a few examples of my previous work.
                </p>
            </div>
        </div>
        @*<img src="img/ipad.png" class="img-fluid" alt="">*@
    </div>
</section>
<!-- Projects Section -->
<section id="projects" class="projects-section bg-light">
    <div class="container">
        <!-- Featured Project Row -->
        <div data-aos="fade-in" data-aos-duration="1000" class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7">
                <img class="img-fluid mb-3 mb-lg-0 project-main" src="~/images/project-main.jpg" />
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>projects</h4>
                    <p class="text-black-50 mb-0">
                        These are listed in no particular order. Dates indicate only when each were originally started. All have been created, maintained, modified or rewritten by me at some point throughout my career. Click each title to view. Examples of work that were done internally for previous government employees such as a Business Tax Program, Animal Control Program, OMB Department Program, Civic Center Room Rental Program, etc. cannot be shown. I do not host these; some links may be broken.
                    </p>
                </div>
            </div>
        </div>
        <div data-aos="fade-in" data-aos-duration="1000" class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6 project-1"></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white"><a class="text-lowercase" target="_blank" href="https://www.fultonbank.com/">fulton bank</a></h4>
                            <h5 class="text-white text-lowercasee">2018 | c#, mvc, entity framework, sitecore</h5>
                            <p class="mb-0 text-white-50">I did not create this site, but I have worked on and contributed many modules to it. One example of work amongst many that I was involved in would be a page to render YouTube videos provided by the content author.</p>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-aos="fade-in" data-aos-duration="1000" class="row justify-content-center no-gutters">
            <div class="col-lg-6 project-2"></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white"><a class="text-lowercase" target="_blank" href="https://www.octagoncredit.com/">octagon credit investors</a></h4>
                            <h5 class="text-white text-lowercase">2018 | c# mvc, sitecore</h5>
                            <p class="mb-0 text-white-50">This site was created for Conning Bank after they acquired Octagon Credit Investors. It uses a CMS and allows their team to manage and manipulate content.</p>
                            <hr class="d-none d-lg-block mb-0 mr-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-aos="fade-in" data-aos-duration="1000" class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6 project-3"></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white"><a class="text-lowercase" target="_blank" href="https://www.brettonwoods.com/">breton woods</a></h4>
                            <h5 class="text-white text-lowercase">2014 | c# mvc, sitecore</h5>
                            <p class="mb-0 text-white-50">I did not create this site, but I have worked on and contributed many modules to it. One example of work amongst many that I was involved in would be a snow report flyout that was made for the content author to show the upcoming amount of snow for the season.</p>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-aos="fade-in" data-aos-duration="1000" class="row justify-content-center no-gutters">
            <div class="col-lg-6 project-4"></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white"><a class="text-lowercase" target="_blank" href="https://cobrapublicweb.cityofpsl.com/">Cobra Public Web</a></h4>
                            <h5 class="text-white text-lowercase">2015 | C#, MVC, SQL Database</h5>
                            <p class="mb-0 text-white-50">This site was created for the City of Port St. Lucie's Engineering Department. It uses C# MVC, and allows the public to pay for reinspection fees online. It requires a login, which is created using our proprietary system of uniquely generated contractor ID's that we've implemented through <a href="https://register.cityofpsl.com/">https://register.cityofpsl.com/</a> .</p>
                            <hr class="d-none d-lg-block mb-0 mr-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-aos="fade-in" data-aos-duration="1000" class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6 project-5"></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white"><a class="text-lowercase" target="_blank" href="https://utility.cityofpsl.com/">Utility Systems Dept.</a></h4>
                            <h5 class="text-white text-lowercase">2016 | C# MVC, SQL Database, Umbraco</h5>
                            <p class="mb-0 text-white-50">This site was created for the City of Port St. Lucie's Utility Sytems Department. It uses C# MVC, and has the content management system Umbraco integrated into it that we built upon.</p>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-aos="fade-in" data-aos-duration="1000" class="row justify-content-center no-gutters">
            <div class="col-lg-6 project-6"></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white"><a class="text-lowercase" target="_blank" href="https://pandapublicweb.cityofpsl.com/Account/Login.aspx">Panda Public</a></h4>
                            <h5 class="text-white text-lowercase">2013 | VB.Net WebForm, SQL Database</h5>
                            <p class="mb-0 text-white-50">This site was created for the City of Port St. Lucie's Building Department and allows the public to perform a number of related tasks. I've helped with small pieces of this site throughout it's life, one example being a Garage Sales Form which allows citizens to apply for a garage sale permit if they meet certain criteria.</p>
                            <hr class="d-none d-lg-block mb-0 mr-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-aos="fade-in" data-aos-duration="1000" class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6 project-7"></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white"><a class="text-lowercase" target="_blank" href="https://hr.cityofpsl.com/Joblisting/Internaljobs.aspx">HR Job Postings</a></h4>
                            <h5 class="text-white text-lowercase">2012 | VB.Net WebForm, SQL, FTP, PowerShell Scripts</h5>
                            <p class="mb-0 text-white-50">This is the internal job posting page for the City of Port St. Lucie. Through an internal form, human resources can submit data for a job posting including attaching documents. The closing date they chose is run against a powershell script to automatically "close" it at the time of their choosing.</p>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-aos="fade-in" data-aos-duration="1000" class="row justify-content-center no-gutters">
            <div class="col-lg-6 project-8"></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white"><a class="text-lowercase" target="_blank" href="http://www.cityofpsl.com/utility/commercial-development/utility-cd-request-information.html">City Of PSL Utility Request Form</a></h4>
                            <h5 class="text-white text-lowercase">2011 | HTML, PHP Mailer, Recaptcha, iFrame</h5>
                            <p class="mb-0 text-white-50">This form was created for use on the City of Port St. Lucie's main site. It's hosted on a different server and used in an iframe. It uses a generic php mailer form, and a recaptcha.</p>
                            <hr class="d-none d-lg-block mb-0 mr-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section -->
<section id="contact" class="signup-section">
    <div class="container">
        <div class="row">
            @*<div class="col-md-10 col-lg-8 mx-auto text-center">
                    <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                    <h2 class="text-white mb-5">Subscribe to receive updates!</h2>
                    <form class="form-inline d-flex">
                        <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
                        <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
                    </form>
                </div>*@
        </div>
    </div>
</section>
<section id="contact-info" class="contact-section bg-black">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-lowercase m-0">address</h4>
                        <hr class="my-4">
                        <div class="small text-black-50">19 nathan pratt dr. 302, concord ma</div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-lowercase m-0">email</h4>
                        <hr class="my-4">
                        <div class="small text-black-50">
                            <a href="mailto:admin@kruceblake.com">admin@kruceblake.com</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-lowercase m-0">phone</h4>
                        <hr class="my-4">
                        <div class="small text-black-50">+1 (772) 475-7458</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social d-flex justify-content-center">
            <a href="https://www.linkedin.com/in/kruce/" class="mx-2">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/Kruce" class="mx-2">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </div>
</section>
@section Scripts {
}