.projects-section {
    padding: 10rem 0;

    .featured-text {
        padding: 2rem;

        @media (min-width: 992px) {
            padding: 0 0 0 2rem;
            border-left: 0.5rem solid $primary;
        }
    }

    .project-text {
        padding: 3rem;
        font-size: 90%;

        @media (min-width: 992px) {
            padding: 5rem;

            hr {
                border-color: $primary;
                border-width: .25rem;
                width: 30%;
            }
        }
    }

    .project-main {
        filter: grayscale(70%);
    }

    .project-1 {
        background-image: url(/images/project-1.jpg);
        background-size: cover;
        filter: grayscale(70%);
    }

    .project-2 {
        background-image: url(/images/project-2.jpg);
        background-size: cover;
        filter: grayscale(70%);
    }

    .project-3 {
        background-image: url(/images/project-3.jpg);
        background-size: cover;
        filter: grayscale(70%);
    }

    .project-4 {
        background-image: url(/images/project-4.jpg);
        background-size: cover;
        filter: grayscale(70%);
    }

    .project-5 {
        background-image: url(/images/project-9.jpg);
        background-size: cover;
        filter: grayscale(70%);
    }

    .project-6 {
        background-image: url(/images/project-6.jpg);
        background-size: cover;
        filter: grayscale(70%);
    }

    .project-7 {
        background-image: url(/images/project-7.jpg);
        background-size: cover;
        filter: grayscale(70%);
    }

    .project-8 {
        background-image: url(/images/project-8.jpg);
        background-size: cover;
        filter: grayscale(70%);
    }
}
