@{
    ViewData["Title"] = "home";
}
<!-- About Section -->
<section id="about" class="about-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">Built with Bootstrap 4</h2>
                <p class="text-white-50">
                    Grayscale is a free Bootstrap theme created by Start Bootstrap. It can be yours right now, simply download the template on
                    <a href="http://startbootstrap.com/template-overviews/grayscale/">the preview page</a>. The theme is open source, and you can use it for any purpose, personal or commercial.
                </p>
            </div>
        </div>
        <img src="img/ipad.png" class="img-fluid" alt="">
    </div>
</section>

<!-- My Work Section -->
<section id="projects" class="projects-section bg-light">
    <div class="container">
        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7">
                <img class="img-fluid mb-3 mb-lg-0" src="~/lib/grayscale/dist/img/bg-masthead.jpg" alt="">
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>projects</h4>
                    <p class="text-black-50 mb-0">
                        these are listed in no particular order. all have been created, maintained, modified or rewritten by me at some point throughout my career. click each title to view. i do not host these; some links may be broken.
                    </p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6">
                <img class="img-fluid" src="~/lib/grayscale/dist/img/demo-image-01.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white"><a target="_blank" href="https://www.octagoncredit.com/">octagon credit investors</a></h4>
                            <h5 class="text-white">c# mvc, sitecore</h5>
                            <p class="mb-0 text-white-50">this site was created for conning bank after they acquired octagon credit investors. it uses a cms and allows their team to manage and manipulate content.</p>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center no-gutters">
            <div class="col-lg-6">
                <img class="img-fluid" src="~/lib/grayscale/dist/img/demo-image-02.jpg" alt="">
            </div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white"><a target="_blank" href="https://www.fultonbank.com/" >fulton bank</a></h4>
                            <h5 class="text-white">c#, mvc, entity framework, sitecore</h5>
                            <p class="mb-0 text-white-50">i did not create this site, but i have worked on and contributed many modules to it. an example of work that i was involved in amongst many would be a page to render youtube videos provided by the content author.</p>
                            <hr class="d-none d-lg-block mb-0 mr-0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section -->
<section class="contact-section bg-black">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-lowercase m-0">address</h4>
                        <hr class="my-4">
                        <div class="small text-black-50">19 nathan pratt dr. 302, concord ma</div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-lowercase m-0">email</h4>
                        <hr class="my-4">
                        <div class="small text-black-50">
                            <a href="#">admin@kruceblake.com</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-lowercase m-0">phone</h4>
                        <hr class="my-4">
                        <div class="small text-black-50">+1 (772) 475-7458</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="social d-flex justify-content-center">
            <a href="https://www.linkedin.com/in/kruce/" class="mx-2">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/Kruce" class="mx-2">
                <i class="fab fa-github"></i>
            </a>
        </div>

    </div>
</section>
@section Scripts {
}
