#error-div {
    position: relative;
    height: 100vh;
}

#error-div .error {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.error {
    max-width: 500px;
    width: 100%;
    text-align: center;
}

.error .error-title {
    height: 280px;
    position: relative;
    z-index: -1;
}

.error .error-title h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 230px;
    margin: 0px;
    font-weight: 900;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: url('/dist/images/stars_full.png') no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;
}

.error h2 {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    text-transform: lowercase;
    margin-top: 0;
}

.error p {
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 0px;
}

.error a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: lowercase;
    background: $primary-error;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 40px;
    color: #fff;
    font-weight: 700;
    -webkit-box-shadow: 0px 4px 15px -5px $primary-error;
    box-shadow: 0px 4px 15px -5px $primary-error;
}

@media only screen and (max-width: 767px) {
    .error .error-title {
        height: 142px;
    }

    .error .error-title h1 {
        font-size: 112px;
    }
}