<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"] - kruce blake</title>
    <!-- Bootstrap core CSS -->
    <link href="~/lib/grayscale/dist/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="~/lib/grayscale/dist/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/lib/aos/dist/aos.css" rel="stylesheet" />
    <link href="~/lib/grayscale/dist/css/grayscale.min.css" rel="stylesheet" />
    <link href="~/css/site.min.css" rel="stylesheet" />
</head>
<body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">about</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#projects">projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div id="headerContent" class="mx-auto text-center">
                <h1 class="mx-auto my-0">kruce blake</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">
                    <a href="" class="text-white-50 typewrite" data-period="2000" data-type='[ "programmer", "application developer", "software engineer" ]'>
                        <span class="wrap"></span>
                    </a>
                </h2>
                <div id="scrollAnimation" class="scroll-animation">
                    <a class="nav-link js-scroll-trigger" href="#about"><span></span></a>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    <div id="konami-box" class="konami"><img id="Konami" /></div>
    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
        <div class="container">
            kruceblake.com &copy; @DateTime.Now.Year
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/lib/grayscale/dist/vendor/jquery/jquery.min.js"></script>
    <script src="~/lib/grayscale/dist/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/lib/grayscale/dist/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/lib/grayscale/dist/js/grayscale.js"></script>
    <script src="~/js/typewriter.js"></script>
    <script src="~/lib/aos/dist/aos.js"></script>
    <script src="~/js/cheet.js"></script>
    <script>AOS.init();</script> @*initialize animate on scroll*@
    @RenderSection("Scripts", required: false)
</body>
</html>