@{
    Layout = "_LayoutError";
    ViewData["Title"] = "404";
}

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>404</h1>
        </div>
        <h2>page not found</h2>
        <a asp-action="Index" asp-controller="Home">← kruceblake.com</a>
    </div>
</div>