<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Error page">
    <title>@ViewData["Title"] - kruce blake</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="~/dist/css/site.min.css" asp-append-version="true" />
</head>
    <body>
        @RenderBody()
    </body>
</html>