@model ErrorViewModel
@{
    Layout = "_LayoutError";
    ViewData["Title"] = "error";
}

<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>error</h1>
        </div>
        <h2>sorry about that..</h2>
        <a asp-action="Index" asp-controller="Home">← kruceblake.com</a>
    </div>
</div>