/*!
 * kruceblake.com - kruceblake.com v1.0.0 (http://www.kruceblake.com/)
 * Copyright 2020-2025 
 */

#mainNav {
  min-height: 70px;
  background-color: #fff;
}
#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #00b5df;
  border: 1px solid #00b5df;
}
#mainNav .navbar-toggler:focus {
  outline: none;
}
#mainNav .navbar-brand {
  color: #161616;
  font-weight: 700;
  padding: 0.9rem 0;
}
#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}
#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}
@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: 0.5rem 0;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  #mainNav .nav-link:active {
    color: white;
  }
  #mainNav.navbar-shrink {
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #161616;
  }
  #mainNav.navbar-shrink .nav-link {
    color: #161616;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #00b5df;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: rgb(0, 118.9080717489, 146.5);
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #00b5df;
    outline: none;
    border-bottom: 0.25rem solid #00b5df;
  }
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.0392156863) 0, rgba(22, 22, 22, 0.07) 75%, #161616 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.masthead h1 {
  font-family: "Varela Round";
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.masthead h2 {
  max-width: 20rem;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .masthead h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}
@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: "Varela Round";
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.btn-primary {
  background-color: #00b5df;
}
.btn-primary:hover {
  background-color: rgb(0, 139.6053811659, 172);
}
.btn-primary:focus {
  background-color: rgb(0, 139.6053811659, 172);
  color: white;
}
.btn-primary:active {
  background-color: rgb(0, 118.9080717489, 146.5) !important;
}

.about-section {
  padding-top: 10rem;
  background: linear-gradient(to bottom, #161616 0, #161616 75%, #161616 100%);
}
.about-section p {
  margin-bottom: 5rem;
}

.projects-section {
  padding: 10rem 0;
}
.projects-section .featured-text {
  padding: 2rem;
}
@media (min-width: 992px) {
  .projects-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid #00b5df;
  }
}
.projects-section .project-text {
  padding: 3rem;
  font-size: 90%;
}
@media (min-width: 992px) {
  .projects-section .project-text {
    padding: 5rem;
  }
  .projects-section .project-text hr {
    border-color: #00b5df;
    border-width: 0.25rem;
    width: 30%;
  }
}
.projects-section .project-main {
  filter: grayscale(70%);
}
.projects-section .project-1 {
  background-image: url(/dist/images/project-1.jpg);
  background-size: cover;
  filter: grayscale(70%);
}
.projects-section .project-2 {
  background-image: url(/dist/images/project-2.jpg);
  background-size: cover;
  filter: grayscale(70%);
}
.projects-section .project-3 {
  background-image: url(/dist/images/project-3.jpg);
  background-size: cover;
  filter: grayscale(70%);
}
.projects-section .project-4 {
  background-image: url(/dist/images/project-4.jpg);
  background-size: cover;
  filter: grayscale(70%);
}
.projects-section .project-5 {
  background-image: url(/dist/images/project-9.jpg);
  background-size: cover;
  filter: grayscale(70%);
}
.projects-section .project-6 {
  background-image: url(/dist/images/project-6.jpg);
  background-size: cover;
  filter: grayscale(70%);
}
.projects-section .project-7 {
  background-image: url(/dist/images/project-7.jpg);
  background-size: cover;
  filter: grayscale(70%);
}
.projects-section .project-8 {
  background-image: url(/dist/images/project-8.jpg);
  background-size: cover;
  filter: grayscale(70%);
}
.projects-section .project-lanl {
  background-image: url(/dist/images/project-lanl.jpg);
  background-size: cover;
  filter: grayscale(70%);
}

.signup-section {
  padding: 10rem 0;
  background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("/dist/images/stars_full.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: initial;
}
@media (min-width: 1920px) {
  .signup-section {
    background-size: cover;
  }
}
.signup-section .form-inline input {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  height: auto;
  font-family: "Varela Round";
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.contact-section {
  padding: 5rem 0 0;
}
.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid #00b5df;
}
.contact-section .card h4 {
  font-size: 0.8rem;
  font-family: "Varela Round";
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}
.contact-section .card hr {
  border-color: #00b5df;
  border-width: 0.25rem;
  width: 3rem;
}
.contact-section .social {
  margin-top: 5rem;
}
.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}
.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}
.contact-section .social a:active {
  color: #fff;
}

.egg {
  display: none;
  position: fixed;
  left: 75%;
  bottom: 0;
}

#error-div {
  position: relative;
  height: 100vh;
}

#error-div .error {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.error {
  max-width: 410px;
  width: 100%;
  text-align: center;
}

.error .error-title {
  height: 280px;
  position: relative;
  z-index: -1;
}

.error .error-title h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 230px;
  margin: 0px;
  font-weight: 900;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: url("/dist/images/stars_full.png") no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
}

.error h2 {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  text-transform: lowercase;
  margin-top: 0;
}

.error p {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 0px;
}

.error a {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: lowercase;
  background: #054c5e;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 40px;
  color: #fff;
  font-weight: 700;
  box-shadow: 0px 4px 15px -5px #054c5e;
}

@media only screen and (max-width: 767px) {
  .error .error-title {
    height: 142px;
  }
  .error .error-title h1 {
    font-size: 112px;
  }
}
.scroll-animation a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}

.scroll-animation a:hover {
  opacity: 0.5;
}

#scrollAnimation a {
  padding-top: 70px;
}

#scrollAnimation a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
.typewrite > .wrap {
  border-right: 0.08em solid #fff;
}

.background-video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
}

body {
  font-family: "Nunito";
  letter-spacing: 0.0625em;
}

a {
  color: #00b5df;
}
a:focus, a:hover {
  text-decoration: none;
  color: rgb(0, 98.2107623318, 121);
}

.bg-black {
  background-color: #161616 !important;
}

.bg-primary {
  background-color: #00b5df !important;
}

.text-primary {
  color: #00b5df !important;
}

footer {
  padding: 5rem 0;
}